
:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #ecf0f1;
  --text-color: #333333;
  --accent-color: #f39c12;
  --neutral-color: #bdc3c7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100px;
  /* border-radius: 100% / 0 0 30% 30%; */
  background: var(--background-color);}



 .btn-contact {
  border: var(--primary-color) 2px solid;
}

 .btn-contact:hover {
  opacity: 0.9;;
  background-color: var(--primary-color);
}



/* main {
  border-radius: 100% / 0 0 30% 30%;
  background: var(--background-color);
  padding-bottom: 70px;
} */

/* footer {
  height: 100px;
} */

/* @media only screen and (max-width: 1100px) {

  main {
    border-radius: 120% / 0 0 10% 10%;
    width: 100%;
  }

} */
